@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Comic Neue', sans-serif;
    background: #fff;
    color: #111;
    line-height: 1.6;
}

/* header */
header {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

/* nav */
ul {
    list-style: none;
    padding-left: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #ffd700;
    padding: 8px 14px;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
    font-weight: bold;
}

nav a:hover {
    background: #ffd700;
    color: #000;
}

/* main */
main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 15px;
    color: rgb(252, 6, 6);
    padding: 10px;
    text-shadow: /* bordinha branca */
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px  1px 0 white,
     1px  1px 0 white;
}

.destaque {
    width: 300px;
    border-radius: 15px;
    margin-top: 10px;
    border: 2px solid #ffd700;
}

#galeria {
    scroll-margin-top: 130px;
    background-color: lightblue;
}

/* footer */
footer {
    background: #000;
    color: #fff;
    text-align: center;
}

.footer-top {
    background: #fff;
}

.footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer-col {
    flex: 1;            
    padding: 10px;
    min-width: 220px;
    margin: 0 20px;
    max-width: 300px;
}

.footer-img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffd700; /* Amarelo no hover */
}

/* icons */
.icon_ig, 
.icon_yt {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 8px;
    transition: filter 0.3s ease;
    filter: brightness(0) invert(1);
}

/* hoover nos icons */
footer a:hover .icon_ig,
footer a:hover .icon_yt {
    filter: brightness(0) saturate(100%) invert(80%) sepia(80%) saturate(600%) hue-rotate(10deg) brightness(110%) contrast(100%);
}

/* outros elementos */
.vid {
    width: 100%;
    height: 540px;
    padding-top: 60px;
    box-sizing: border-box;

    background: linear-gradient(to bottom, 
        #ffffff 0%,
        #fffff0 5%,
        #fcde33 15%,
        #fcde33 85%,
        #fffff0 95%,
        #ffffff 100%
    );
}

.fsobre {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    margin-top: 10px;
    border: 2px solid #ff0000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;       
    padding: 10px;
    flex: 1;
    min-width: 220px;
    flex-wrap: wrap;
}

.tirinhas {
    width: 300px;
    height: 300px;
    object-fit: cover; 
    border-radius: 10px;
}

.midia {
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 10px;             
}

/* responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    iframe, video {
        width: 100%;
        height: auto;
    }

    .destaque {
        width: 80%;
    }
}